<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
    <h3>Signup for Amazon</h3>
    <form method="post" action="/signup">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="uname"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" name="password">*minimum 8 characters</td>
            </tr>
            <tr>
               <td> <input type="submit" value="signup"></td>

            </tr>
        </table>
    </form>

</body>
</html>
